*{
    margin: 0;
    padding: 0;
  }
  .header{
    min-height: 100vh;
    width: 100%;
    /* background-image:url(../image/bachd.jpg); */
    background-position: center;
    background-size: cover;
    position: relative;
    
    
  }
  
  body{
              margin: 0;
              padding: 0;
              background-image: url(../image/bachd.jpg); /* Replace with your image path */
              background-size: cover;
              background-position: center;
              background-attachment: fixed;
              height: 100vh;
  }
  nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
   
   
  }
  nav img{
  width: 150px;
  
  }
  .topnav{
    overflow:hidden;
    flex: 1;
    text-align:right;
    /*position: fixed;*/
  }
  .topnav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 14px;
    position: relative;
    
  }
  .topnav ul li a{
    color: rgb(248, 247, 250);
    text-decoration: none;
    font-size: 25px;
    font-style: bold;
  }
  .topnav ul li::after{
    content: '';
    width: 0% ;
    height: 4px;
    background: #f7f0f0;
    display: block;
    margin: auto;
    transition: .3s;
  
  }
  .topnav ul li:hover::after{
    width: 100%;
  
  }
  .text-box{
    width: 90%;
    color: rgb(252, 252, 253);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  .text-box h1{
  font-size: 60px;
  }
  .text-box p{
    margin: 10px 0 40px;
    font-size: 26px;
    color: rgb(251, 253, 253);
  }
  @media (max-width: 700px){
    .text-box h1{
      font-size: 50px;
    } 
    .topnav ul li{
      display: block;
    }
  
    .topnav{
      position: absolute;
      background:0;
      height: 100vx;
      width: 200px;
      top: 0; 
      right: 0;
      text-align: right;
      z-index: 2;
    }
  }
  
  .aboutme{
    width:100%;
    margin: auto ;
    text-align: center;
    padding: 100px;
  /* background-image: url(../image/bachd.jpg); */
  background-position: center;
  background-size: cover;
  position: relative;
  }  
  .aboutme h1{        
    font-size: 80px;
    font-weight: 600; 
    color: #181717;
  }
  .aboutme h3{        
    font-size: 30px;
    font-weight: 600; 
    color:#181717;
  }
  p{
    color: rgb(7, 6, 7);
    font-size: 20px;
    font-weight: 300px ;
    list height: 25px ;
    padding: 10px;
  
  }
  .row{
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
  
  }
  .aboutme-col{
    flex-basis: 30%;
    background: rgba(238, 227, 227, 0.423);
    border-radius: 10px;
    margin-bottom:10% ;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
  }
  .aboutme-col:hover{
    box-shadow: #181717;
    background: #788083;
  }
  
  @media (max-width: 700px){  
    .aboutme h1{
      font-size:20px;
    } 
    .aboutme h3{
      font-size: 20px;
    }
    p{
      font-size:5px ;
    }
  
  }
  .project{
    width:100%;
    margin: auto ;
    text-align: center;
    padding: 100px;
   
  /* background-image: url(../image/bachd.jpg); */
  background-position: left;
  background-size:cover;
  position:relative;
  }
  .project h1{
    font-size: 80px;
    font-weight: 600; 
    color: rgb(228, 228, 238);
   
  
  }
  .project-col{
    flex-basis: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow:hidden;
  }
  .project-col img{
    width: 30%;
    display: block;
  }
  .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0;
    left: 0;  
    transition: 0.5s;
  }
  .layer:hover{
    background: rgba(248, 115, 115, 0.7); 
  }
  .layer h4{
    width: 100%;
    font-weight: 500;
    color: antiquewhite;
    font-size: 130px ;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;  
  }
  .layer:hover h4{
    bottom: 49%;
    opacity: 1;
  }
  .btn{
    width: 100px;
     
  }
  
  .a{
    color:#181717;
  }
  
  .carousel-item{
   padding: 0;
   image-orientation: from-image;
  }
  